

<app-base-layout>
    <div class="relative">
      <app-loading-overlay [loading]="(isLoading$ | async)!"></app-loading-overlay>
      <div class="grid gap-6">
        <app-products-filters
          (filtersChange)="onFiltersChange($event)"
        ></app-products-filters>
        <div 
          class="gap-5 grid grid-cols-[repeat(auto-fit,minmax(250px,_1fr))] justify-center md:justify-between"
        >
          @for (product of (products$ | async)?.data; track product.id) {
            <app-product-preview [product]="product"/>
          } 
          @empty {
            <h1>No products...</h1>
          }
        </div>
      </div>
    </div></app-base-layout>