
<h1 class="text-2xl mb-8 text-bold flex items-center">
  <i class="lni lni-envelope mr-2"></i>
  Shipping
</h1>
<div class="grid grid-cols-[min-content_auto] max-w-[50rem] gap-3 text-base">
  <span class="font-semibold">Nombre:</span>
  <span>{{ delivery.firstName }} {{ delivery.lastName }}</span>
  <span class="font-semibold">Email:</span>
  <span>{{ delivery.email }}</span>
  <span class="font-semibold">Telefono:</span>
  <span>{{ delivery.phone }}</span> <span class="font-semibold">Dirección:</span>
  <span class="max-w-[25rem]">{{ delivery.street }}, {{ delivery.number }}, {{ delivery.door }}, {{ delivery.zipcode }}, {{ delivery.city }}, {{ delivery.province }}</span>
</div>
