<div class="header-user relative">
  @if (isAuth$ | async) {
    <app-header-cart></app-header-cart>

    <app-header-user-button (click)="menu.toggle($event)">
      <p-avatar 
        [label]="(user$ | async)?.firstName! | getFirstLetter | uppercase" 
        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
        size="large"
      ></p-avatar>

      <div class="flex flex-col">
        <span class="text-sm font-medium">Welcome</span>
        <span class="text-base font-semibold capitalize">
          {{ (user$ | async)?.firstName }}
        </span>
      </div>
    </app-header-user-button>



  }
  @else {
    <div class="relative">
      <app-loading-overlay fontSizeRem="1rem" [loading]="(isLoading$ | async)!"></app-loading-overlay>
      <app-header-user-button (click)="loginModal.showModal()">
  
        <i class="lni lni-user text-4xl"></i>
  
        <div class="flex flex-col">
          <span class="text-sm font-medium">{{ 'messages.hellosign' | translate }}</span>
          <span class="text-base font-semibold">{{ 'words.account' | translate }}</span>
        </div>
  
      </app-header-user-button>
    </div>
  }

</div>

<app-login-modal #loginModal></app-login-modal>

<p-menu 
  #menu 
  [model]="userMenuItems"
  [popup]="true" 
  appendTo="body"
></p-menu>