<div class="header-user">
  @if (isAuth$ | async) {
    <app-header-cart></app-header-cart>

    <app-header-user-button>
      <p-avatar 
        [label]="(user$ | async)?.name?.firstname! | getFirstLetter | uppercase" 
        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
        size="large"
      ></p-avatar>

      <div class="flex flex-col">
        <span class="text-sm font-medium">Welcome</span>
        <span class="text-base font-semibold capitalize">
          {{ (user$ | async)?.name?.firstname }}
        </span>
      </div>
    </app-header-user-button>

  }
  @else {
    <app-header-user-button (click)="login()">

      <i class="lni lni-user text-4xl"></i>

      <div class="flex flex-col">
        <span class="text-sm font-medium">Hello, sign in</span>
        <span class="text-base font-semibold">Account</span>
      </div>

    </app-header-user-button>
  }

</div>
