<div class="landing-title mb-10">
  <span>Featured products</span>
</div>

<div class="flex justify-center">
  <div class="landing-featured gap-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
    @if(!store.loading()) {
  
      @for (product of store.products(); track product.id) {
        <app-landing-featured-product [product]="product"/>
      } 
      @empty {
        <h1>No products...</h1>
      }
    
    }
    @else {
      <i class="lni lni-spinner-solid animate-spin"></i>
    }
  </div>
</div>


