<div class="landing-title mb-10">
  <span>Featured products</span>
</div>

<div class="flex justify-center" >
  <div class="grow gap-5 grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-6 place-content-around justify-between justify-items-center w-fit">
    @if((loading | async) === false) {
  
      @for (product of (products | async); track product.id) {
        <app-product-preview [product]="product"/>
      } 
      @empty {
        <h1>No products...</h1>
      }
  
    }
    @else {
      <i class="lni lni-spinner-solid animate-spin"></i>
    }
  </div>
</div>


