.steps-custom {
  
  .p-steps-number {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .p-steps-title {
    font-size: 1.2rem;
  }

  .p-menuitem-link {
    cursor: pointer;
  }

}