<p-dialog header="Header" [(visible)]="visible" [modal]="true" [dismissableMask]="true">
  <ng-template pTemplate="headless">
    <div class="p-10 bg-white rounded-md text-base min-h-[33.1rem]">
      <form [formGroup]="loginForm" class="flex flex-col gap-5 relative">
        <app-loading-overlay [loading]="(isLoading$ | async)!"></app-loading-overlay>
        <div class="flex flex-col gap-2">
          <label for="username">Username</label>
          <input pInputText id="username" aria-describedby="username" formControlName="username" />
          <small id="username-help">Enter your username.</small>
          <app-input-validator controlPath="username" [form]="loginForm"></app-input-validator>
        </div>
        
        <div class="flex flex-col gap-2">
          <label for="password">Password</label>
          <input pInputText id="password" aria-describedby="password" formControlName="password" />
          <small id="password-help">Enter your password</small>
          <app-input-validator controlPath="password" [form]="loginForm"></app-input-validator>
        </div>

        @if(loginErrors$ | async) {
          <div class="rounded-md bg-red">
            Usuario o contraseña incorrectos
          </div>
        }

        <p-button 
          [disabled]="this.loginForm.invalid || !this.loginForm.touched"
          (onClick)="this.onSubmit()"
          label="login" 
          styleClass="w-full"
        ></p-button>
      </form>
    </div>
  </ng-template>
</p-dialog>