
<div class="flex justify-center relative">
  <app-loading-overlay [loading]="($invoiceLoading | async)!"></app-loading-overlay>
  <div class="grid md:grid-cols-2 gap-20">
    @if(($invoiceLoading | async)! === false) {
      <div class="grid gap-20">
        <app-delivery-resume [delivery]="($delivery | async)!"></app-delivery-resume>
        <app-cart-resume [invoice]="($invoice | async)!"></app-cart-resume>
      </div>
      <app-payment-form class="order-last md:order-none"></app-payment-form>
    }
  </div>
</div>