

<div class="base-layout">
  <div class="base-layout__body">

    @if((hideCategories$ | async) === false) {
    <div class="header-categories hidden sm:block" *ngVar="(isLoading$ | async) as _loading">
      @if(_loading) {
        <div class="flex gap-10 mt-3">
          <p-skeleton height="1.5rem" width="10rem"></p-skeleton>
          <p-skeleton height="1.5rem" width="10rem"></p-skeleton>
          <p-skeleton height="1.5rem" width="10rem"></p-skeleton>
          <p-skeleton height="1.5rem" width="10rem"></p-skeleton>
        </div>
      }
      @else {
        <div class="flex gap-10" *ngVar="(categories$ | async) as _categories">
        
        @if (!!_categories?.length) {

          <div 
            [routerLink]="['/products']"
            class="header-categories__category"
          >
            <span class="header-categories__category-title">
              {{ 'words.all' | translate }}
            </span>
          </div>
        }
          @for(category of _categories; track $index) {
            <div 
              [routerLink]="['/products']"
              [queryParams]="{category: category.id}"
              class="header-categories__category"
              routerLinkActive="header-categories__category--active"
            >
              <span class="header-categories__category-title">
                {{ category.name | categoryPipe | translate }}
              </span>
            </div>
          }
        </div>
      }
    </div>
    }
  </div>
</div>