<div
  [routerLink]="['/products/', this.product.id]"
  class="pv-product"
>
  <div class="relative">
    <app-image 
      imageClass="pv-product__image" 
      imageAlt="Preview product image"
      [imageUrl]="product.image" 
    />
  </div>
  
  <div class="grid">

    <div class="pv-product__title truncate mb-2">
      <span>{{ product.name }}</span>
    </div>

    <div class="flex gap-3">
      @if (product.modifiers?.discountPercent) {
        <span class="pv-product__price">{{ product.modifiers?.discountPrice }}€</span>
        <span class="pv-product__last-price">{{ product.price }}€</span>
        <span class="pv-product__dicount-percent">{{ product.modifiers?.discountPercent }}%</span>
      }
      @else {
        <span class="pv-product__price">{{ product.price }}€</span>
      }
    </div>

    <div class="pv-product__stars flex gap-2 items-center">
      <app-stars [filledStars]="product.stars"></app-stars>
      <span class="text-sm text-[color:--gray-500]">
        {{ product.stockTotal - product.stock }} vendidos
      </span>
    </div>

    <div class="pv-product__stock flex gap-2 items-center mb-2">

      <div class="flex-none w-32">
        <app-stock-progress-bar
          [partial]="product.stock"
          [total]="product.stockTotal"
        ></app-stock-progress-bar>
      </div>

      <span class="text-sm text-[color:--gray-500]">
        Quedan {{ product.stock }}
      </span>

    </div>

    <div class="flex items-center gap-2">

      <img 
        *ngIf="product.modifiers?.hasChoice" 
        class="pv-product__days-image" 
        src="assets/images/choice.webp"
      >

      <span class="text-sm text-[color:--gray-500]">
        <!-- Entrega en {{ product.modifiers?.estimatedDays }} días -->
        Entrega en 2 días
      </span>
    </div>

  </div>
</div>