<h1 class="text-2xl mb-8 text-bold"><i class="lni lni-mastercard mr-2"></i>Payment</h1>
<div class="grid min-w-[15rem] max-w-[50rem] gap-5 text-base">
  <form [formGroup]="payForm">
    <div class="grid grid-cols-2 gap-5">
      <div class="grid col-span-2 gap-2">
        <input 
          pInputText
          maxlength="30"
          class="w-full max-h-[4rem]" 
          placeholder="Card Holder" 
          formControlName="cardHolder" 
          [pKeyFilter]="blockNumbersOnly" 
        />
        <app-input-validator [form]="payForm" controlPath="cardHolder"></app-input-validator>
      </div>
      <div class="grid col-span-2 gap-2">
        <input 
          pInputText 
          maxlength="19" 
          pKeyFilter="num" 
          class="w-full max-h-[4rem]" 
          placeholder="Card Number" 
          formControlName="cardNumber"
        />
        <app-input-validator [form]="payForm" controlPath="cardNumber"></app-input-validator>
      </div>
      <div class="grid gap-2">
        <p-inputMask 
          pKeyFilter="num" 
          mask="99/99" 
          placeholder="Card Expiration" 
          slotChar="mm/yy" 
          formControlName="cardExpiration"
        ></p-inputMask>
        <app-input-validator [form]="payForm" controlPath="cardExpiration"></app-input-validator>
      </div>
      <div class="grid gap-2">
        <input 
          pInputText 
          maxlength="4" 
          pKeyFilter="num" 
          class="w-full max-h-[4rem]" 
          placeholder="Card CV2" 
          formControlName="cardCV2"
        />
        <app-input-validator [form]="payForm" controlPath="cardCV2"></app-input-validator>
      </div>
      <p-button 
        label="Pay!" 
        class="col-span-2"
        styleClass="w-full"
        [disabled]="payForm.invalid"
        (onClick)="doPayment()"
      ></p-button>
    </div>
  </form>
</div>
